.footer-section {
  background-color: #1c1c1c;
  color: #ffffff;
}

.footer-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

/* Swiper Image Styling */
.swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.footer-section {
  font-size: 0.95rem;
}

.footer-section .border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
}
